<div class="settings_container">
	 <div class="panel panel-default user_setting_panel">
		    <div class="panel-heading panel_custom_heading">Settings</div>
		    <div class="panel-body custon_setting_body">
		   	<form class="form-horizontal" role="form" method="post" action="#">
 
<div class="form-group">
<label for="firstName" class="col-sm-2 control-label">First Name:</label>
<div class="col-sm-6">
<input type="text" name="firstName" class="w3-input w3-border" id="firstName" placeholder="First Name">
</div>
</div>
 
<div class="form-group">
<label for="lastName" class="col-sm-2 control-label">Last Name:</label>
<div class="col-sm-6">
<input type="text" name="lastName" class="w3-input w3-border" id="lastName" placeholder="Last Name">
</div>
</div>
 
<div class="form-group">
<label for="" class="col-sm-2 control-label">Gender:</label>
<div class="col-sm-6">
<label class="radio-inline">
<input type="radio" name="gender" id="gender1" value="male">Male
</label>
<label class="radio-inline">
<input type="radio" name="gender" id="gender2" value="female">Female
</label>
 
</div>
</div>
 
<div class="form-group">
<label for="dob" class="col-sm-2 control-label">DOB:</label>
<div class="col-sm-6">
<input type="date" name="bday" class="w3-input w3-border datepicker" id="dob" placeholder=" Date of Birth">
 
</div>
</div>
 
<div class="form-group">
<label for="userName" class="col-sm-2 control-label">User Name:</label>
<div class="col-sm-6">
<input type="email" name="userName" class="w3-input w3-border" id="userName" placeholder="User Name">
</div>
</div>
 

 
<div class="form-group">
<div class="col-sm-offset-2 col-sm-10">
<button type="submit" class="btn btn-primary" id="register">Update</button>
</div>
</div>
 
</form>
		    </div>
  	</div>
  	 

</div>