

<div class="profile_container" ng-controller="ProfileController">
    
    <div class="user-nav" >
		<ul class="nav nav-tabs">
	        <li class="active " ng-repeat="v in userViews" "><button class="w3-button w3-teal nav_button_profile" ng-click='loadUserPartial(v.url)'><span class="glyphicon {{v.type}}"></span>{{v.name}}</button></li>
	        
	    </ul>
	    <div>
	    	 <!-- <div  ng-hide = 'setNavContentInvisible' id="partialResults" ng-include="currentPartial"></div> -->
	    	<div   id="partialResults" ng-include="currentUserPartial"></div>
	    </div>
	</div>
</div>

