@CHARSET "ISO-8859-1";
body {margin:0}



.header {
    background-color: #1f2533;
    padding: 20px;
    text-align: center;
    opacity: 0.8;
}

.logout-div{
  background-color: white;  
  width: 40px;
}

.logout-btn{
    /* background-color: #3a3a3a; */
    /* border: none; */
   color: #282828;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 50px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 5px;
}
#footer {
  background-color: #282828;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
 color:white;
  text-align: center;
}
body { 
   background-image: url("/images/background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.register_forgetpass{
  text-align: center;
  padding: 10px;
}

.register{

}

.forgetpassword{
  margin-left: 10px;
}


.project_name{
color: grey;
}
.head{
background-color: #1f2533;
width: 100%;
height: 50px;
position: fixed;
}

.user_operations{
  width: 100%;
  float: left;
}

.profile_div{
  float: right;
  width:50% ;
  margin-right: -100px;
}

.user_dropdown{
  width: 50%;
  
}
.user_signout{
  width: 50%;
  margin-top: 10px;

}
.logout{
  color: white;
  margin-left: 10px;
}

.userDisplay{
   position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
  font-size: 20px;
  background-color: cyan;
  border: darkgreen 5px solid;
  padding: 5px;
  z-index: 100;
  background-color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.nav_button{
  margin: 5px;
}

.nav_button_profile{
  margin: 5px;
  border-radius: 15px 15px 0px 0px;
  padding: 10px;
}

.main_container{
  position: fixed;
  top: 54%;
  left: 50%;
  width:95%;
  height:85%; 
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
  padding: 5px;
  z-index: 100;
  background-color: #282828;
    
    
     color: white;
     border-style: solid;
      border-color: #696969;
}

.home-icon{
  font-size:40px; 
  margin-top:5px; 
  margin-left:10px;
   color:#009688;

}

a:hover {
  color: rgb(169, 169, 169);
}


.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}
.well-container{
background-color: #009688;
opacity:0.8;
}


.user-nav{
  margin-top: 20px;
}

.past_booking{
width: 95%;
margin: auto;
margin-top: 20px;

height: 430px;

overflow-y: scroll;
}

.panel_custom_body{
color:black;
border-bottom: 1px solid grey;

}

.booking_container{
height: 440px;
overflow-y: scroll;
margin-top: 5px;
}

.user_account_panel{
color:black;
width: 95%;
margin: auto;
margin-top: 20px;
height: 430px;
}
.settings_container{
  color:black;
width: 95%;
margin: auto;
margin-top: 20px;
}
.booking_content > div{
text-align: left;
color: grey;
}

.panel_custom_heading{
font-size:16px;
}
.booking_content > h6{
margin-top: 50px;
}

.bookin_status_btn_green{
 background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;

}

.bookin_status_btn_red{
 background-color: #f44336; /* red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;

}

.custon_setting_body{
  
overflow-y: scroll;
margin-top: 5px;
}

.update_inputs{
  width: 200px;
}

.setting_inputs_container{
  width: 400px;
  
}
.user_setting_panel{
  height: 430px;
}