<div class="container" ng-controller="ForgetPasswordController">


<div class="container ">

<div class="login-page">
<span><h2>Parking At Owners Risk</h2></span>
  <div class="form">
  <h1>Recover Password</h1>
  

<form name="form" ng-submit="login()" role="form">
    <div class="form-group">
        <label for="email" class="text-style">Email</label>
        <i class="fa fa-key"></i>
        <input type="text" name="email" id="email" class="form-control" ng-model="email" required />
        
    </div>
    <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Recover password</button>
        
    
    
</form>
</div>
</div>

</div>

</div>