<div class="container" ng-controller="ForgetPasswordController">
    <div class="container ">
        <div class="login-page">
            <div class="form">
                <h2>Recover Password</h2>
                <form name="form" ng-submit="login()" role="form">
                    <div class="form-group">
                        <label for="email" class="text-style">Email</label> <i class="fa fa-key"></i>
                        <input type="text" name="email" id="email" style="background-color:grey; class="w3-input w3-border" ng-model="email" required />
                    </div>
                    <div class="form-actions">
                        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="w3-button w3-teal">Send</button>
                        <div class="backtologin"><a href="#/login">Back to Login?</a>
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>